---
import Layout 			from '../layouts/Layout.astro';
import Card 				from '../components/Card.astro';
import Section 			from '../components/Section.astro';
import FlexDisplay 	from '../components/FlexDisplay.astro';
import Project 			from '../components/Project.astro';
import Header 			from '../components/Header.astro';

const langs : string[]      = ["JavaScript", "TypeScript", "Python", "C", "C++", "C#", "Java", "Lua"]
const frameworks : string[] = ["React", "Node", "Next", "Vite", "Redux", "Tailwind", "Vue", "Astro", ".NET", "Django", "Flask", ]
const miscs : string[]      = ["Linux", "Bash", "Firebase", "WebSockets", "Git", "SQL", "MongoDB", "Docker", "HTML", "CSS", "SCSS", "English"]


const color : Palette =  {
	main_color : "text-stone-200", 
	secondary_color : "text-stone-400",
	accent_color : "text-lime-300",
	gradient_from : "from-emerald-700",
	gradient_to : "to-lime-300",
}
---

<Layout title="Renan Dantas">
	<main class="flex flex-col lg:w-[1000px]">
		<Header color={color}/>

		<Section title='EDUCATION' color={color}>
			<Card 
				date_place='2018-2022, São Carlos - Brazil'
				title='UFSCar | B. Sc. Computer Science'
				color={color}>
				<p class=`font-bold ${color.accent_color} text-lg`> 
					Bachelor of Science
				</p>
				<p class="font-medium text-sm"> 
					Algorithms, Data Structures, Databases, Software Engineering, AI, and System Design. 
				</p>
			</Card>
			<Card 
				date_place='2016-2017, São Carlos - Brazil'
				title='ETEC | Game Programming'
				color={color}>
				<p class=`font-bold ${color.accent_color} text-lg`> 
					Technical Degree
				</p>
				<p>Game Design Principles, Asynchronous Programming, Game Development Frameworks, 3D Modeling, Project Design</p>
			</Card>
		</Section>

		<Section title='EXPERIENCE' color={color}>
			<Card 
				date_place='2023-Present, São Carlos (Hybrid)'
				title='LUZ Soluções Financeiras'
				color={color}>
				<p class=`font-bold ${color.accent_color} text-lg`> Full Stack Developer</p>
				<p> • Utilization .NET framework to develop robust and efficient back-end systems. </p>
				<p> • Creation of dynamic and user-friendly front-end interfaces with Angular. </p>
				<p> • Python for web scraping tasks, extracting valuable data for analysis and decision-making.</p>
				<p> • Effectively manage and persist data, ensuring smooth operations and data integrity with Oracle SQL.</p>
				
			</Card>
			
			<Card 
				date_place='2022-2023, São Paulo (Remote)'
				title='SOMOS Educação' 
				color={color}>
				<p class=`font-bold ${color.accent_color} text-lg`> Full Stack Developer</p>
				<p> • Design and development of a web interface, that serves and modify data from an API, with React, Next, Redux and Tailwind</p>
				<p> • Development and maintenence of RESTful APIs with Django, with the usage of MySQL and MongoDB databases</p>
				<p> • Creation of general solutions and tests for NLP applications using Python and the Spacy framework.</p>
			</Card>
		</Section>

		<Section title="SKILLS" color={color}>
			
			<FlexDisplay title="Programming Languages" array={langs} color={color} />
			<FlexDisplay title="Libraries & Frameworks" array={frameworks} color={color} />
			<FlexDisplay title="And more..." array={miscs} color={color} />

		</Section>

		<Section title="PROJECTS" color={color}>
		
			<div class="flex flex-row flex-wrap justify-start">
				
				<Project 
					title="KODAMA"
					type="Full Stack Social Media App" 
					descr="FIrebase, Vite, React, Tailwind" 
					githubLink="https://github.com/renandantasp/Kodama" 
					websiteLink="https://kodama.vercel.app" 
					color={color}
				/>

				<Project 
					title="Boxd Collage" 
					type="Static Site, Collage Generator" 
					descr="Nextjs" 
					websiteLink='https://boxdcollage.vercel.app/'
					githubLink="https://github.com/renandantasp/boxd-collage" 
					color={color}
				/>
				
				<Project 
					title="DailyHub" 
					type="Full Stack Project, Twitter Clone" 
					descr="MongoDB, Node, Vite, React" 
					githubLink="https://github.com/renandantasp/dailyhub" 
					websiteLink="https://dailyhub.onrender.com/" 
					color={color}

				<Project 
					title="DEX" 
					type="Static Site" 
					descr="Nuxt, SCSS" 
					githubLink="https://github.com/renandantasp/pokedex" 
					websiteLink="https://pokedexdex.vercel.app/"
					color={color}
				/>
				
				<Project 
					title="DnD Language" 
					type="Language Interpreter" 
					descr="Antlr4, Python" 
					githubLink="https://github.com/renandantasp/compiladores/tree/main/trabalho-4" 
					color={color}
				/>
			</div>

			
		</Section>

		<Section title="" color={color}>
  		<h2 class=`text-xl ${color.main_color} mb-8 font-bold lg:text-start text-center`>Contact me!</h2>

			<div class=`flex flex-row flex-wrap py-2 ${color.secondary_color} justify-center pb-10 w-full lg:w-[44rem] `>
				<a href="https://linkedin.com/in/renandnt" class="mx-10">
					<svg xmlns="http://www.w3.org/2000/svg" class=`fill-lime-300` width="24" height="24" viewBox="0 0 24 24">
						<path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
					</svg>
				</a>
				<a href="https://github.com/renandantasp" class="mx-10">
					<svg xmlns="http://www.w3.org/2000/svg" class=`fill-lime-300` width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
					</svg>
				</a>
				<a href="mailto:renandantasp@gmail.com" class="mx-10">
					<svg xmlns="http://www.w3.org/2000/svg" class=`fill-lime-300` width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/>
					</svg>
				</a>

			</div>
		</Section>



	</main>
</Layout>
